In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import statsmodels.api as sm

In [4]:
df=pd.read_csv("train_v9rqX0R (1).csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
for i in df.select_dtypes(np.number):
    df[i].fillna(df[i].median(),inplace=True)

In [6]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
df.shape

(8523, 12)

In [8]:
df.drop(["Item_Identifier","Outlet_Identifier","Outlet_Establishment_Year","Outlet_Size"],inplace=True,axis=1)

In [19]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,Tier 3,Supermarket Type1,994.7052

In [21]:
df["Item_Type"]=df["Item_Type"].map(df["Item_Type"].value_counts(normalize=True))

In [22]:
X=pd.get_dummies(df.drop("Item_Outlet_Sales",axis=1),drop_first=True)
y=df["Item_Outlet_Sales"]

In [ ]:
X

In [11]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [13]:
from sklearn.linear_model import Lasso,Ridge,LinearRegression

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

In [24]:
X_train

,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
1921,7.720,0.147904,0.144550,116.6466,0,1,0,0,0,1,0,0,0
655,19.750,0.014301,0.106770,103.0332,1,0,0,0,0,0,1,0,0
2229,12.600,0.054221,0.029450,129.1310,0,1,0,0,0,1,0,0,1
2537,19.350,0.118342,0.140795,222.6088,1,0,0,0,1,0,1,0,0
3528,18.350,0.092150,0.100434,184.8266,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,9.395,0.286345,0.144550,139.1838,0,1,0,0,0,1,0,0,0
5191,15.600,0.117575,0.100434,75.6670,1,0,0,0,1,0,1,0,0
5390,17.600,0.018944,0.061011,237.3590,1,0,0,0,1,0,1,0,0
860,20.350,0.054363,0.140795,117.9466,0,0,1,0,1,0,1,0,0
7270,16.350,0.016993,0.106770,95.7410,0,0,0,0,0,0,1,0,0

In [26]:
model=LinearRegression().fit(X_train,y_train)
y_pred=model.predict(X_test)

In [27]:
y_pred

array([1358.64518579,  747.3645459 ,  819.75371227, ..., 1083.90916811,
       2195.30902915, 3854.08749017])

In [29]:
metrics.mean_squared_error(y_test,y_pred,squared=False)

1099.2946354263418

In [30]:
metrics.r2_score(y_test,y_pred)

0.5685642670458058

In [ ]:
for i in rn

In [ ]:
GridSearchCV(estimator=Ridge(),param_grid=)